<!doctype html>

<html>
<head>
   <title>Lost Items</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/css/introHCI2.css" rel="stylesheet">
   <script src="js/introHCI.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="bottom">
<button class="back" onclick="window.location.href = '/';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<button class="search "type="submit"><i class="fa fa-search"></i></button>
<button class="lost" onclick="window.location.href = 'lost';">Lost</button>
<button class="found" onclick="window.location.href = 'lost';">Found</button>
<button class="sort" onclick="window.location.href = 'lost';"><i class="fa fa-bars"></i></button>

</div>
</body>

</html>


