*{
  padding:0px;
  margin:auto;
}
.bottom{
  height:70px;
  background:black;
}
button {
    float: left;
    width: 20%;
    padding: 25px;
    background-color: #2196F3;
    color: white;
    font-size: 18px;
    border: transparent;
    border-left: none;
    cursor: pointer;
}





